[Match]
Name=eth0

[Network]
DHCP=no
DHCPServer=no
DNS=8.8.8.8
DNS=8.8.4.4
Domains=agowa338.de
MulticastDNs=resolve
DNSSEC=allow-downgrade
IPForward=yes
IPv6PrivacyExtension=no
IPv6AcceptRA=no

[Address]
Address=198.51.100.100/24

[Address]
Address=2001:DB8:0000:0000:0000:0000:0000:0001/112

[Address]
Address=fe80::0000:0000:0000:0001/64
Scope=link

[Route]
Gateway=198.51.100.254

[Route]
Gateway=fe80::1
Destination=::/0
GatewayOnlink=yes
Scope=link
