[Unit]
Requires=systemd-nspawn@%i.service
After=systemd-nspawn@%i.service

[Service]
EnvironmentFile=/srv/%i/settings.conf
ExecStartPre=/bin/sleep 20

ExecStartPre=/usr/bin/systemd-run --machine %i --wait /usr/bin/dpkg --configure -a
ExecStartPre=/usr/bin/systemd-run --machine %i --wait /usr/bin/apt -q update
ExecStartPre=/usr/bin/systemd-run --machine %i --wait /usr/bin/apt -yq upgrade
ExecStartPre=/usr/bin/systemd-run --machine %i --wait /usr/bin/apt -yq dist-upgrade
ExecStartPre=/usr/bin/systemd-run --machine %i --wait /usr/bin/apt -yq install openssh-server
ExecStartPre=/usr/bin/systemd-run --machine %i --wait /usr/bin/apt -yq -o Dpkg::Options::=--force-confdef -o Dpkg::options=--force-confold install nginx-full geoip-bin nginx-doc
ExecStartPre=/usr/bin/systemd-run --machine %i --wait /usr/bin/apt -yq install php7.0-fpm php7.0-common php7.0-mysql php7.0-xmlrpc php7.0-curl php7.0-gd php7.0-imagick php7.0-cli php7.0-mcrypt
ExecStartPre=/usr/bin/systemctl disable --machine=%i nginx.service php7.0-fpm.service
ExecStartPre=/usr/bin/systemctl stop --machine=%i nginx.service php7.0-fpm.service
ExecStartPre=/bin/sed -i -e 's/^post_max_size = [0-9]*?$/post_max_size = 128M/' /var/lib/machines/%i/etc/php/7.0/fpm/php.ini
ExecStartPre=/bin/sed -i -e 's/^upload_max_filesize = [0-9]*?$/upload_max_filesize = 5G/' /var/lib/machines/%i/etc/php/7.0/fpm/php.ini
ExecStartPre=/bin/sed -i -e 's/^memory_limit = [0-9]*?$/memory_limit = 512M/' /var/lib/machines/%i/etc/php/7.0/fpm/php.ini

ExecStartPre=/usr/bin/systemctl start --machine=%i php7.0-fpm.service
ExecStart=/usr/bin/systemctl start --wait --machine=%i nginx.service

ExecStop=/usr/bin/systemctl stop --machine=%i nginx.service
ExecStopPost=/usr/bin/systemctl stop --machine=%i php7.0-fpm.service


#LimitNOFILE=8192:16384
#LimitNPROC=16384:48028

TimeoutSec=infinity

[Install]
WantedBy=machines.target
DefaultInstance=nginx
